* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#logo-div {
  display: flex;
  list-style-type: none;
  column-gap: 60px;
  align-items: center;
}
#nav-div {
  display: flex;
  column-gap: 60px;
  align-items: center;
}

#container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 20px auto;
}

#sign-up {
  width: 102px;
  height: 45px;
  border-radius: 8px;
}

#healthy {
  color: #dc2f39;
  font-family: Open Sans;
  font-size: 70px;
  font-weight: 700;
  line-height: 55px;
  text-align: left;
  width: Hug (235px) px;
  height: Hug (77px) px;
  gap: 5px;
  opacity: 0px;
}
#healthy2 {
  color: black;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
}

#won-2 {
  color: #252525;
  font-family: Open Sans;
  display: flex;
  justify-content: space-between;
  text-align: left;
  font-weight: 400;
  border-radius: 97px;
  margin-top: 30px;
}

#sign-in {
  background: linear-gradient(
    180deg,
    #beebc2 40.02%,
    rgba(190, 235, 194, 0.5) 100%
  );
  width: 235px;
  height: 53px;
  border: none;
  border-radius: 10px;
  margin: 30px 0;
}

#profile-pic {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
  height: 400px;
  align-items: end;
  gap: 7px;
}
#henesy {
  /* display: flex;
  justify-content: space-between;
  align-items: start; */
}
#hero {
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 3px 10px 0px #ddf7e3;
}
header {
  padding: 0 30px 0 30px;
}
section {
  padding: 0 32px 0 30px;
}

#layout {
  color: black;
  text-align: center;
  margin-left: 1px;
  padding-top: 100px;
}
#text {
  display: flex;
  color: black;
  justify-content: space-around;
  border: 5px;
  align-items: center;
  width: 100%;
}

#name {
  display: flex;
  justify-content: space-around;
  border: 5px;
  align-items: center;
}
#picture {
  max-width: 450px;
  width: 100%;
}

#picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#line {
  align-items: end;
}
#title {
  text-align: center;
}
#rice {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #000000;
  list-style: none;
  box-shadow: -5px 5px 7px 0px #beebc280;
  background: #f2fff5;
}
#rice li {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
#Loosing {
  align-items: center;
}
#Bite {
  color: #dc2f39;
  size: 100px;
  font-size: x-large;
  font-weight: bolder;
}

#Stress {
  text-align: center;
  size: 24px;
}

#easy {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
}

#today {
  font-size: 20px;
  color: #000000;
}
#Better {
  color: #424242;
}
#Vegan {
  font-size: 20px;
  color: #000000;
}
#Vegan-2 {
  color: #424242;
}
#ammet {
  font-size: 20px;
  color: #000000;
}
#ammet-2 {
  color: #424242;
}
#vow {
  font-size: 20px;
  color: #000000;
}
#vow-2 {
  color: #424242;
}

.bites {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  width: 550px;
}

#fits,
.bites > img {
  width: 208px;
}

#cup {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

#qwp {
  width: 328px;
}

#nav-pat {
  justify-content: center;
  margin: auto;
}
#ongoing {
  display: flex;
  background-color: #f2fff5;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: 4px 4px 7px 0px #beebc280;
  border-radius: 20px;
  max-width: 600px;
  width: 100%;
  margin: auto;
  padding: 20px;
}

#Keto {
  color: #000000;
  font-size: 28px;
}

#success {
  background-color: #beebc2;
  padding: 20px;
  width: 264px;
  height: 63px;
  margin: 20px 0;
  border-radius: 10px;
  border: none;
}
#ongoing-image {
  height: 150px;
}
#ongoing-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#cway {
  column-gap: 101px;
}
#balanced {
  display: flex;
  margin-top: 102px;
  gap: 101px;
  column-gap: 101px;
}
#day {
  color: #dc2f39;
  font-size: 40px;
}
#Keto {
  color: #000000;
}
#life {
  flex-direction: column;
  border: 5px;
  align-items: center;
  width: 100%;
  border: none;
}

.mix {
  display: flex;
}

#all {
  display: flex;
  gap: 219px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 30px auto;
}

#pre-planned1 {
  display: flex;
  justify-content: center;
}

#pre-planned2 {
  color: #dc2f39;
  font-size: 40px;
}
#trackers {
  color: #000000;
  font-size: 30px;
  width: 400px;
}
#week {
  font-size: 20px;
  color: #000000;
}

#journey {
  margin: 20px auto;
  max-width: 850px;
  width: 100%;
}
.diet-tag {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}
#meals {
  color: #000000;
  font-size: 20px;
}
#meals-2 {
  color: #000000;
  font-size: 20px;
}

#nk1 {
  color: #000000;
  font-size: 20px;
  margin-bottom: 17.16px;
}

#nk2 {
  color: #000000;
  font-size: 20px;
  margin-bottom: 43.5px;
}

#features {
  display: flex;
  justify-content: center;
  align-items: center;
}
#management {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}

#Net-op1 {
  display: flex;
  flex-direction: column;
  text-align: right;
  background: #32794f;
  width: 540px;
  gap: 10px;
  padding: 10px 0;
  border-radius: 0px 20px 20px 0px;
  opacity: 0px;
}

#Net-op2 {
  color: #ffffff;
  font-size: 32px;
  padding: 0 20px;
}
#Net-op3 {
  text-align: right;
  font-size: 70px;
  color: #f2fff5;
}

#milk {
  color: #32794f;
  padding: 10px 0;
  width: 514px;
  font-size: 70px;
}

#crumbl {
  display: flex;
}

#sodium {
  font-size: 18px;
  margin-bottom: 50px;
}
#fat-pdsh {
  margin-top: 55px;
  padding: 20px 0;
}
.academy {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
#img-30 {
  display: flex;
  justify-content: space-between;
}

#net-obvp {
  display: flex;
  align-items: end;
}
#man {
  width: 100%;
  padding: 20px;
  background-image: url("Rectangle\ 24.png");
  background-size: cover;
}
#see-all {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
#nutrition {
  background-color: #f5fdf7;
  padding: 20px 0;
}
#comma {
  font-family: "Courier New", Courier, monospace;
}
#customize {
  display: flex;
  justify-content: center;
}

#customize-2 {
  color: #000000;
  font-size: 28px;
  text-align: center;
}
.cust-ize {
  color: #32794f;
  font-family: arial;
}

#super {
  display: flex;
  justify-content: center;
}
#supers {
  margin-top: 35px;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  background-color: #32794f;
}
#lankaidi {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
}
#quick {
  display: flex;
}
#quick2 {
  padding-top: 10px;
  margin-left: 10px;
}
#paris {
  color: #000000;
  font-size: 32px;
  right: 50px;
  margin-top: 60px;
  text-align: left;
}
#club {
  font-size: 32px;
  margin-top: 40px;
}

#club-2 {
  color: #32794f;
}
#rems {
  display: flex;
}
#fat-man {
  width: 450px;
  height: 405px;
}
#charset-oope {
  background-color: #ddf7e3;
}
#tems {
  display: flex;
  justify-content: space-between;
}
#cancel-oytyur {
  font-size: 20px;
  margin-top: 20px;
}

#weeks {
  margin-top: 25px;
}

#Bodybuilding {
  background: #f2fff5;
}

#ONly {
  margin-top: 75px;
  text-align: center;
  display: flex;
  justify-content: center;
}

#only-2 {
  font-size: 32px;
  color: #000000;
}

#only-3 {
  color: #dc2f39;
  font-size: 40px;
}

#mark-opj-1 {
  display: flex;
  justify-content: center;
}

#mark-opj {
  justify-content: center;
}
#navy {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
}
#bureey {
  display: flex;
  justify-content: space-evenly;
  color: #424242;
  font-size: x-small;
}
#section2 {
  margin-top: 75px;
  background-color: #beebc2;
}
#Specialize {
  height: 40px;
}
#social {
  display: flex;
  justify-content: center;
  margin-top: 69px;
}
#clinic {
  display: flex;
  justify-content: center;
  margin-top: 72.38px;
}
#clinic-2 {
  color: #000000;
  font-size: 20px;
}
#line {
  border-bottom: 1px solid gray;
  padding-top: 60px;
  margin-left: 100px;
  margin-right: 100px;
}

#daily-drdp {
  margin-top: 43px;
  text-align: center;
}
#background-image {
  background-image: url("Rectangle 21 (10).png");
  display: flex;
  list-style-type: none;
  column-gap: 60px;
  align-items: center;
}
#DAY-1 {
  display: flex;
  justify-content: center;
}
#div-pop {
  padding: 100px;
}
.li-tag {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
#bitesewr {
  padding: 20px;
}
